body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a.menuIcon {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.54);
}


a {
  text-decoration: none;
  color: white;
}



.css-bhp9pd-MuiPaper-root-MuiCard-root.highlightIssueCard{
  background-color: #f7e065;
}

.css-bhp9pd-MuiPaper-root-MuiCard-root.highlighted {
  /* background-color: #f7e065 !important; */
  /* background-color: #f0dead !important; */
  background-color: #f5edbc !important;
}

.css-ivnu1y-MuiPaper-root-MuiAppBar-root {
  background-color: #6e33f0 !important;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked, .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
	color: #6e33f0 !important;
}

.css-1knaqv7-MuiButtonBase-root-MuiButton-root {
  color: #6e33f0 !important;
}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #6e33f0 !important;
}

.css-ghsjzk-MuiInputBase-root-MuiInput-root::after {
  border-bottom: #6e33f0 !important;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  color: #6e33f0 !important;
}

.css-10vjzfb-MuiButtonBase-root-MuiButton-root {
  color: #6e33f0 !important;
}